/* ImageGallery.css */
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  
  .modal-image {
    max-width: 80%;
    max-height: 80%;
    margin: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }

  .modal-buttons svg{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    cursor: pointer;
  }
  
  .modal-buttons button:hover {
    background-color: #0056b3;
  }
  